.h5p-dragnbar-coordinates input {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  width: 2em;
  text-align: center;
  color: #0061a2;
}
.h5p-dragnbar-coordinates input:focus {
  outline: none;
}
.h5p-moving {
  opacity: 0.6;
}

.h5p-dragnbar-element:focus,
.h5p-dragnbar-element:hover {
  outline: 2px solid #0099ff;
  outline-offset: -1px;
}

/* Display outline on label for h5p nil */
.h5p-dragnbar-element.h5p-nil-interaction:focus,
.h5p-dragnbar-element.h5p-nil-interaction:hover {
  outline: none;
}

.h5p-dragnbar-element.h5p-nil-interaction:focus > .h5p-interaction-label,
.h5p-dragnbar-element.h5p-nil-interaction:hover > .h5p-interaction-label {
  outline: 2px solid #0099ff;
  outline-offset: -1px;
}

.h5p-dragnbar-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
